
body {
	background-color: #253238;
  margin: 0;
  padding: 0;
}

.theme_cards {
  box-sizing: border-box;
  font: normal normal 400 1em/1.4 "HelvNeue", Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  vertical-align: baseline;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.banner {
	background-color: #253238;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  
  -webkit-box-shadow: 0 1px 10px 5px #505a5f;
     -moz-box-shadow: 0 1px 10px 5px #505a5f;
          box-shadow: 0 1px 10px 5px #505a5f;
}

.input_text {
  border: 1px solid #92989b;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin-left: 25px;
  min-width: 400px;
  padding: 7px;
  transition: border 0.3s ease 0s;
  vertical-align: middle;
  width: 40%;
}

.input_text:focus {
	border-color: #ffffff;
}

.facets_wrapper {
	background-color: #92989b;
  color: #253238;
  padding: 20px 50px;
  margin-top: 85px;
  
  -webkit-box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.75);
     -moz-box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.75);
          box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.75);
}

.facets_wrapper h4 {
  color: #fff;
    letter-spacing: 1px;
}

.results_wrapper {
  min-height: 300px;
  padding: 20px 50px;
}



.simplesearch-count {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: right;
  text-transform: uppercase;
}

.simplesearch-paging {
  color: #f8c119;
  letter-spacing: 2px;
  padding: 10px 10px 30px;
  text-align: center;
  text-transform: lowercase;
}

.simplesearch-more {
  background-color: transparent;
  border: 0 none;
  color: #f8c119;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

.simplesearch-more:hover {
  color: #ffffff;
}

.simplesearch-more:after {
  content: "...";
}

.simplesearch-facet-value-list {
  font-size: 14px;
  list-style: none;
  margin: 5px 0 5px 10px;
}

.simplesearch-facet-value {
  display: inline-block;
  padding: 5px 10px;
}

.simplesearch-facet-value:hover {
  color: #fff;
  cursor: pointer;
}

.simplesearch-list {
  display: flex;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: auto;
}

.simplesearch-list-item {
  color: #fff;
  display: inline-block;
  letter-spacing: 2px;
  margin: 5px;
  min-width: 300px;
  max-width: 400px;
  padding: 40px;
  width: calc(100% / 5 - 30px);
}

.simplesearch-list-item:nth-child(6n) {
  background-color: #9BB93F;
}
.simplesearch-facet-value:nth-child(6n):hover,
.simplesearch-list-item:nth-child(6n) dt {
  color: #dde7bc;
}

.simplesearch-list-item:nth-child(6n+1) {
  background-color: #8F5D98;
}
.simplesearch-facet-value:nth-child(6n+1):hover,
.simplesearch-list-item:nth-child(6n+1) dt {
  color: #c7aecb;
}

.simplesearch-list-item:nth-child(6n+2) {
  background-color: #f1c954;
}
.simplesearch-facet-value:nth-child(6n+2):hover,
.simplesearch-list-item:nth-child(6n+2) dt {
  color: #fcecba;
}

.simplesearch-list-item:nth-child(6n+3) {
  background-color: #de5b7e;
}
.simplesearch-facet-value:nth-child(6n+3):hover,
.simplesearch-list-item:nth-child(6n+3) dt {
  color: #f0c8c4;
}

.simplesearch-list-item:nth-child(6n+4) {
  background-color: #de795b;
}
.simplesearch-facet-value:nth-child(6n+4):hover,
.simplesearch-list-item:nth-child(6n+4) dt {
  color: #fbe0bd;
}

.simplesearch-list-item:nth-child(6n+5) {
  background-color: #5bc0de;
}
.simplesearch-facet-value:nth-child(6n+5):hover,
.simplesearch-list-item:nth-child(6n+5) dt {
  color: #bad5f1;
}

.simplesearch-list-item dt {
  font-size: 0.8rem;
}
