
body {
	margin: 0;
	padding: 0;
}

.theme_classic {
	background-color: #152935;
  box-sizing: border-box;
  font: normal normal 400 1em/1.4 "HelvNeue", Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.banner {
  background-color: #5aaafa;
  padding: 16px 40px;
  padding: 1rem 2.5rem;
  padding-left: 64px;
  padding-left: 4rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.theme_light {
  background-color: #ececec;
  color: #264a60;
  max-width: 100%;
  padding: 36px 40px;
  padding: 2.25rem 2.5rem;
}

.theme_dark {
  background-color: #152935;
	color: #fff;
  max-width: 100%;
  padding: 36px 40px;
  padding: 2.25rem 2.5rem;
}

.type_heading {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 576px;
  max-width: 36rem;
  display: block;
  margin: 0;
  margin: 36px 0 16px 0;
  margin: 2.25rem 0 1rem 0;
}

.type_heading:first-child {
  margin-top: 0;
}

.type_mark {
  background: none;
}

.theme_dark .type_mark,
.theme_light .theme_dark .type_mark {
  color: #ff3ca0;
} 

.theme_light .type_mark,
.theme_light .theme_dark .theme_light .type_mark {
  color: #db2780;
}

.form_field {
  border: none;
  margin: 0;
  padding: 1px 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.form_addon-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.input_text {
  font-size: 14px;
  font-size: .875rem;
  background-color: #fff;
  display: block;
  color: black;
  width: 100%;
  border: 1px solid #d3d9dd;
  padding: 6px 0 6px 12px;
  padding: .375rem 0 .375rem .75rem;
}

.input_text:not(:-moz-read-only):focus,
.input_text:not(:read-only):focus {
  border: 1px solid #0699cc;
  outline: none;
}

.form_addon-group .simplesearch-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  height: 36px;
  height: 2rem;
  text-align: center;
  border: none;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  font-size: 14px;
  font-size: .875rem;
  padding: 0 1.75em;
  font-weight: 700;
  
  background-color: #41d6c3;
  color: #003c32;
}

.form_addon-group .simplesearch-button:hover {
  background-color: #6eedd8;
  cursor: pointer;
}

.form_addon-group .simplesearch-button.disabled,
.form_addon-group .simplesearch-button[disabled] {
    background-color: #41d6c3;
    cursor: not-allowed;
    opacity: 0.5;
}

.content_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.content_wrapper .facets_wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 calc(100% / 8 * 2 - 2em);
      -ms-flex: 1 1 calc(100% / 8 * 2 - 2em);
          flex: 1 1 calc(100% / 8 * 2 - 2em);
  max-width: calc(100% / 8 * 2 - 2em);
}

.content_wrapper .results_wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 calc(100% / 8 * 6 - 2em);
      -ms-flex: 1 1 calc(100% / 8 * 6 - 2em);
          flex: 1 1 calc(100% / 8 * 6 - 2em);
  max-width: calc(100% / 8 * 6 - 2em);
}

.table_container {
  max-width: 100%;
  min-height: 300px;
  overflow-x: auto;
}

.simplesearch-count {
  display: inline-block;
  margin-bottom: 25px;
}

.simplesearch-paging {
  float: right;
  font-size: 0.9em;
  margin-bottom: 25px;
}

.simplesearch-paging span:hover {
  cursor: pointer
}

.simplesearch-prev,
.simplesearch-next {
  background-color: transparent;
  border: 0 none;
  color: #41d6c3;
  cursor: pointer;
  font-size: 1em;
  text-decoration: underline;
}

.simplesearch-prev.disabled,
.simplesearch-prev:disabled,
.simplesearch-next.disabled,
.simplesearch-next:disabled {
  color: #9f9f9f;
  cursor: default;
  font-size: 1em;
  text-decoration: none;
}

.simplesearch-facet-key {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 576px;
  max-width: 36rem;
  display: block;
  margin: 36px 0 16px 0;
  margin: 2.25rem 0 1rem 0;
}

.simplesearch-facet-key:first-child {
  margin-top: 0;
}

.simplesearch-facet-value-list {
  list-style: none;
  padding: 0;
}

.simplesearch-facet-value {
  display: block;
  font-size: 14px;
  font-size: .875rem;
  margin-bottom: 4px;
  margin-bottom: .25rem;
}

.simplesearch-facet-value:hover .simplesearch-facet-value-name {
  cursor: pointer;
  text-decoration: underline;
}

.simplesearch-facet-value span {
    font-weight:normal;
}

.simplesearch-facet-value.active span {
    font-weight:700;
}

.simplesearch-facet-value-name {
  color: #4178be;
  font-weight: 700;
}

.simplesearch-facet-value-count {
  color: #6d7777;
  font-weight: 400;
}

.simplesearch-table {
	border-bottom: 1px solid #1d3649;
  border-collapse: collapse;
  width: 100%;
}

.simplesearch-table thead {
  color: #41d6c3;
  border-bottom: 4px solid;
}

.simplesearch-table th {
  font-size: 14px;
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  padding: 8px;
  padding: .5rem;
  white-space: nowrap;
}

.simplesearch-result:nth-child(odd) {
  background-color: #152935;
}

.simplesearch-result:nth-child(even) {
  background-color: #264a60;
}

.simplesearch-table tbody td {
  font-size: 14px;
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  padding: 12px 8px;
  padding: .75rem .5rem;
  white-space: nowrap;
}
